<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Site</title>
  <link rel="stylesheet" href="{% static '5th-indp/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
</head>

<body>
  <table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Hobbies</th>
    </tr>
    <tr>
      <td>Yuliia Riabko</td>
      <td>19</td>
      <td>riabkoyuliia@gmail.com</td>
      <td>Reading, playing chess</td>
    </tr>
  </table>
</body>

</html>