{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Мій магазин{% endblock %}</title>
  <link href="{% static 'shop/base.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div id="header">
      <a href="/" class="logo">Мій магазин</a>
    </div>
    <div id="subheader">
      <div class="cart">
        {% with total_items=cart|length %}
        {% if total_items > 0 %}
        <a href="{% url 'cart:cart_detail' %}">
          {{ total_items }} item{{ total_items|pluralize }},
          {{ cart.get_total_price }} грн
        </a>
        {% else %}
        Кошик порожній
        {% endif %}
        {% endwith %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

</html>